/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*GENERAL STYLES */
body,
html {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.container {
    background-color: aquamarine; /*for debug purposes */
    display: grid;
    grid-template-columns: 1fr 6fr  ;
    grid-template-rows: 1fr 3fr 1fr ;
    gap:10px;
}

/*HEADER */ 
.header {
    /*background-color:darkcyan;  for debugging */
    background-color: #fff;

    grid-column: 2 / 3 ;
    grid-row-start: 1;

    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "search notifications user-icon user-name"
    "user-greeting user-buttons user-buttons user-buttons";
    gap:10px;

    justify-content: space-evenly;
}

.search-area {
    grid-area: search;
    place-items: center;

}

.search-area img {
    width:18px;
    height: auto;
    margin-right:10px;
    margin-bottom:5px;
    display: inline-block;
    

}

.search-bar{
    background-color:#E2E8F0;
    width: 90%;
    height: 30px;
    display: inline-block;
    
    border-radius: 10px;

}

.notifications{
    grid-area: notifications;
    justify-self: end;

}

.notifications img {
    width:22px;
    height: auto;
}

.user-icon {
    grid-area: user-icon;
    justify-self: center;
}

.user-name {
    grid-area: user-name;
    justify-self: start;
}

.user-greeting {
    grid-area: user-greeting;
    
    font-size: 16px;
    font-weight:600;
    line-height: 25px;
}

.user-greeting p:nth-child(2){
    font-size: 2em;
    margin-top: 0px;
}

.user-btn-group {
    grid-area: user-buttons;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items:start center;

}

.user-btn-group button {
    background-color:#1992D3 ;
    border: none;
    border-radius: 5px;

    color: #fff;
    font-weight:500;
    font-size: 1em;

    padding: 10px 25px;
    width: 100px;

    cursor: pointer;
}

/*SIDE NAV */

.side-nav {
    background-color:#1A92D4;

    grid-column: 1;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;

}

.logo,
.side-content {
    display: grid;
    place-items: center start;
    
}

.side-content > div {
    display: inline-grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    column-gap: 20px;

}

.side-content a {
    font-weight: 600;
    color:#fff;
    
    text-decoration: none;
}

/*MAIN CONTENT AREA */
.main-content {
    background-color:lightcoral; /* for debugging */

    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-areas: 
    "project-cards project-cards annoucements"
    "project-cards project-cards trending";
    gap:20px;

    font-size: 16px;
}


.project-cards{
    grid-area: project-cards;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.card{ 
    background-color: #FFFFFF;
    color: black;
    text-align: left;

    
    border-radius: 5px;
    border-left: 5px solid gold;
    padding-left: 10px;
   
}

.card .tags {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right:5px;
    gap: 1em;
    list-style: none;
}

.tag{
    background-color: gold; /*for debugging purposes */
    padding:5px;

    font-size: .75em;
}
.annoucements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/*FOOTER */
.footer {
    background-color:lightseagreen; /* for debugging */
    grid-column: 1 / span 3;
    grid-row-start: 3;
}