/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*GENERAL STYLES */
body,
html {
    box-sizing: border-box;
    
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h6 {
  font-size: 1em;
  margin: 8px 0px;  
}


/* MAIN CONTAINER */
.container {
 background-color: #E2E8F0;

    display: grid;
    grid-template-rows:1fr 2fr 2fr .5fr;
    grid-template-columns: 1fr 3fr 1fr;

}

/*SIDE NAVIGATION STYLE */ 
.sideNav {
    background-color:#1A92D4;
   
    grid-row: 1 / 4;
    grid-column: 1 ;

    display: grid;
    grid-template-rows: .15fr 1fr;
    grid-template-columns: 1fr;

    padding:10px;
}

.logo {
    grid-row:1;
    height:50px;
    place-self: center;
}


.side-content{
    list-style: none;
    padding:unset;
    grid-row-start:2;
    margin-top: 2em;
}

.side-content  li {
    margin:15px 0px;
}

.side-link {
     text-decoration: none;
     color:#FFF;
     font-weight: 500;
}

.side-link img{
    display: inline-block;
    vertical-align: middle;
    width:25px;
    margin-right:8px;
}

/*END SIDE NAVIGATION SECTION */

/*START HEADER SECTION */
.mainHeader {
    background-color: #fff;
    padding:10px;
   
    grid-row: 1;
    grid-column: 2 / span 2;

    display: grid;
    grid-template-rows:.5fr 1fr ;
    grid-template-columns:5fr 2fr;

    grid-template-areas: 
    "search user-account"
    "user-greeting user-buttons";

}

.search {
    grid-area: search;   

}

.search img {
    width:18px;
    height: auto;
    margin-right:10px;
    margin-bottom:5px;
    display: inline-block;
}

.search-bar{
    background-color:#E2E8F0;
    width: 90%;
    height: 30px;
    display: inline-block;
    
    border-radius: 10px;
}


.user-account {
    grid-area:user-account;
    display: grid;
    grid-template-columns: repeat(3, .2fr);
    place-items: center;
    justify-content: center;

}
.notifications{
    justify-self: end;
}

.notifications img{
    width:25px;
}

.user-icon img{
    width:40px;
}

.user-greeting{
    grid-area: user-greeting;
    justify-self: start;
}

.user-greeting p{
    font-weight: 700;
    display: inline-block;
    font-size: 18px;
    vertical-align: text-bottom;
}

.user-greeting-lrg {
    font-size: 1.5em;
}
.user-greeting img{
    width:100px;
}

.user-btns {
    grid-area: user-buttons;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items:center;

    gap:10px;
    
}

.user-btns button {
     background-color:#1992D3 ;
    border: none;
    border-radius: 5px;

    color: #fff;
    font-weight:500;
    font-size: 1em;

    padding: 10px 25px;
    width: 100px;

    cursor: pointer;
}


/*END HEADER SECTION*/


/*START MAIN CONTENT SECTION*/

.mainContent {
   
    padding:10px;

    grid-row: 2 / span 2;
    grid-column: 2 ;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(2, 1fr);

}
.mainContent h3 {
    grid-row:1;
    grid-column: 1 /span 2;
}

.project-cards {
    grid-row:2;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows:1fr 1fr;
    gap: 10px; 
}

.card{ 
    background-color: #FFFFFF;
    color: black;
    text-align: left;

    
    border-radius: 5px;
    border-left: 8px solid #59BEC9;
    padding: .5em;
}

.card .tags {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right:5px;
    gap: 1em;
    list-style: none;
}

.tag{
    background-color: #D6E865;
    padding:8px;

    font-size: .75em;
    font-weight: 500;
}

/*END MAIN CONTENT */
/*START ANNOUCEMENTS */
.annoucements {
    grid-row-start:2;
    grid-column: 3;

    padding:10px;

}
.announce-container,
.trend-container{
    border-radius: 10px;
    background-color:#FFF;
    padding:10px;
}

.announce-txt {
    border-bottom: 2px solid #D6E865;
}

.announce-txt p {
    margin-top: 8px;
}

.announce-txt:last-child {
    border-bottom: unset;
}
/*END ANNOUCEMENTS*/
/*START TRENDING */
.trending {
    grid-row:3;
    grid-column: 3;

    padding:10px;
}
.trending-usr {
    padding:unset
}


.trending-usr li {
    border-bottom: 2px solid #D6E865;
    padding:5px 0px;

    list-style: none;

    font-weight: 500;

    margin:8px 0px;

}

.trending-usr li:last-child {
    border-bottom: unset;
}

.trending-usr img {
    width:48px;
    margin-right:10px;

    vertical-align: middle;
}

.trending-usr p {
     display: inline-block;
     margin: unset;
    vertical-align: middle;
     
}
.trending-txt {
font-weight: 300;
color:#282828;
}


/*END TRENDING */
/*START FOOTER */
.footer {
    background-color: blueviolet;
    border: 1px solid rgb(255, 64, 64);

    grid-row: 4;
    grid-column: 1 / span 3;
}